<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>mimik OpenID Service</title>
  <style>
    textarea {
      width: 440px;
      height: 300px;
    }

    .error {
      color: red;
    }

    input {
      width: 440px;
    }

    code {
      white-space: pre-wrap;
      /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
  <h1>mimik OpenID Service</h1>
  <!-- All of the Node.js APIs are available in this renderer process. -->

  <div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
      Client ID:
      <br>
      <input type="text" ng-model="user.clientId">
      <br> Redirect URI:
      <br>
      <input type="text" ng-model="user.redirectUri" disabled>
      <br>
      <br>
      <button ng-click="getEdgeToken()">Get Edge Token</button>
      <button ng-click="getResetEdgeToken()">Get Reset Edge Token</button>
    </form>
    
    <div ng-show="accessToken">
        Access Token:
        <br>
        <textarea>{{ accessToken}}</textarea>
    </div>

    <div ng-show="accessTokenError">
      <p class="error">{{ accessTokenError }}</p>
    </div>
   
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function ($scope) {
      $scope.master = { redirectUri: "<%=redirectURI%>", clientId: "<%=clientId%>" };
      $scope.reset = function () {
        $scope.user = angular.copy($scope.master);
      };
      $scope.reset();

      $scope.getEdgeToken = function () {
        var url = "openid://callback?client_id=" + $scope.user.clientId;
        window.location.assign(url);
      }

      $scope.getResetEdgeToken = function () {
        var url = "openid://callback?reset=true&client_id=" + $scope.user.clientId;
        window.location.assign(url);
      }

      $scope.initCheck = function () {
        try {
          var hash = window.location.hash.substring(1);
          console.log(window.location);
          var ERROR_STR = 'error-';
          if (hash.startsWith(ERROR_STR)) {
            var e = hash.substring(ERROR_STR.length);
            var json = JSON.parse(e);
            $scope.accessTokenError = json;
          } else {
            var json = JSON.parse(hash);
            $scope.accessToken = json.access_token;
          }
        } catch (error) {

        }
      }

    $scope.initCheck();

    });
  </script>

  <div id='main'></div>

  <!-- <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script> -->
</body>

</html>