// stylelint-disable declaration-no-important

//
// Left side navigation
//


.doc-sidebar {
  order: 0;
  border-top: 1px solid rgba(15, 15, 15, 0.5);
  border-bottom: 1px solid rgba(15, 15, 15, 0.5);

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 4rem;
      z-index: 1000;
      // height: calc(100vh - 4rem);
      height: 100%;
    }
    border-right: 1px solid $black;
  }

  @include media-breakpoint-up(xl) {
    flex: 0 1 320px;
  }
}

.doc-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      // max-height: calc(100vh - 2rem);
      height: auto;
      overflow-y: scroll;
    }
  }

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.doc-search {
  position: relative; // To contain the Algolia search
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  // border-bottom: 1px solid rgba(255,255,255, .05);
  background-color: $mimik-primary;

  .form-control:focus {
    border-color: $blue;
    box-shadow: 0 0 0 3px rgba($blue, .25);
  }
}

.doc-search-docs-toggle {
  line-height: 1;
  color: $gray-900;
}

.doc-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $gray-100;
    text-decoration: none;
  }
}

.doc-toc-item {
  &.active {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    > .doc-toc-link {
      // text-transform: uppercase;
      color: rgba(255,255,255, .85);

      &:hover {
        background-color: transparent;
      }
    }

    > .doc-sidenav {
      display: block;
    }
  }
}

// All levels of nav
.doc-sidebar .nav > li {
  width:100%
}
.doc-sidebar .nav > li > a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
  color: rgba(255,255,255, .55);
}

.doc-sidebar .nav > li > a:hover {
  color: rgba(255,255,255, .85);
  text-decoration: none;
  background-color: transparent;
}

.doc-sidebar .nav > .active > a,
.doc-sidebar .nav > .active:hover > a {
  font-weight: 500;
  color: rgba(255,255,255, .85);
  background-color: transparent;
}





// Blocks of code
pre {
  display: block;
  font-size: 95%;
  color: $gray-900;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  // Inline code
  code {
    font-size: 95%;
    color: $pink;
    word-break: break-word;
    span {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
    // Streamline the style when inside anchors to avoid broken underline and more
    a > & {
      color: inherit;
    }
  }
  // Account for some code outputs that place code tags in pre tags
  
}